::-webkit-scrollbar {
	width: 0px;
}

body * {
	transition: all 0.70710678118s;
	transition-timing-function: ease;
	scroll-behavior: smooth;
}

#main .row {
	min-height: 100vh;
}

#skills .row {
	min-height: auto;
}

aside, section {
	height: 100vh;
	overflow: auto;
}

aside #actions button{
	width: 3em;
	height: 3em;
}

a {
	text-decoration: none;
}

.skill {
	padding: 15px;
	position: relative;
	color: gainsboro;
	border-radius: 5px;
}

.skill:after {
	background-color: goldenrod;
	content: attr(stars) '☆';
	text-align: end;
	font-size: 10pt;
	line-height: 2rem;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.skill[stars="4"]:after {
	width: 80%;
}
.skill[stars="3"]:after {
	width: 60%;
}
.skill[stars="2"]:after {
	width: 40%;
}
.skill[stars="1"]:after {
	width: 20%;
}

@media (max-width: 991.98px) { 
	aside, section {
		height: auto;
		overflow: auto;
	}
}