body * {
    transition: all 0.5s;
}

a:link{
	text-decoration: none;
}

.star{
	background: url('../img/star.png');
	width: 20px;
	height: 20px;
	position: relative;
	float: right;
}

/* #objetivo p {
	display: none;
	height: 0;
}

#objetivo:hover p {
	display: block;
	height: auto;

}

#idiomas ul {
	display: none;
}

#idiomas:hover ul {
	display: block;
} */