::-webkit-scrollbar {
	width: 0px;
}

body * {
	transition: all 0.70710678118s;
	transition-timing-function: ease;
	scroll-behavior: smooth;
}

#main .row {
	min-height: 100vh;
}

aside, section {
	height: 100vh;
	overflow: auto;
}

aside #actions button{
	width: 3em;
	height: 3em;
}

a {
	text-decoration: none;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	flex-wrap: wrap;
}

.skill {
	width: 9rem;
	height: 10vh;
	position: relative;
	color: gainsboro;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	border-radius: 5px;
	
}

.skill:after {
	background-color: goldenrod;
	content: '' ;
	width: 80%;
	height: 5%;
	position: absolute;
	bottom: 10%;
	left: 10%;
}

.skill[stars="4"]:after {
	width: 64%;
}
.skill[stars="3"]:after {
	width: 48%;
}
.skill[stars="2"]:after {
	width: 32%;
}
.skill[stars="1"]:after {
	width: 16%;
}